$PFM-COLOR-FONT-BLACK: #353535;
$PFM-COLOR-FONT-GREY: #9299A3;
$PFM-COLOR-FONT-LIGHT-GREY: #D1D1D6;
$PFM-COLOR-WHITE: #FFFFFF;
$PFM-COLOR-SOFT-GRAY: #FAFAFA;
$PFM-COLOR-BATTLESHIP-GREY: #6D778A;
$PFM-COLOR-RED: #D04E4E;
$PFM-COLOR-BLUE: #52AACA;
$PFM-COLOR-GREEN: #89B231;
$PFM-COLOR-PRIMARY: #F3F5F7;
$PFM-COLOR-SECONDARY: #F2F2F2;
$PFM-COLOR-BORDER: #C8C7CC;
$PFM-COLOR-TERTIARY: #F7F7F7;
$PFM-COLOR-SCOPE-BAR-COLOR: #F5F8FA;
$PFM-COLOR-GREY: #eef0f5;
$PFM-COLOR-FADED-RED: #DF4C52;
$PFM-COLOR-BROWN: #D3955F;
$PFM-COLOR-DEEP-BLUE: #4B4560;
$PFM-COLOR-PINK: #EB588F;
$PFM-COLOR-SOFT-GREEN: #83C391;
$PFM-COLOR-YELLOW: #FBB44C;
$PFM-COLOR-MOSS-GREEN: #ADC383;
$PFM-COLOR-COOL-BLUE: #4975B5;
$PFM-COLOR-SKY-BLUE: #2EAAD9;
$PFM-COLOR-PURPLE: #8A49B5;
$PFM-COLOR-DARK-GREY: #323232;
$PFM-COLOR-SALMON: #FD8A6A;
$PFM-COLOR-TAN-GREEN: #349F76;
$PFM-COLOR-FADED-BLUE: #6F85C2;
$PFM-COLOR-BEIGE: #E8CBAB;
$PFM-COLOR-GREYISH: #BDB9B4;
$PFM-COLOR-DARK-SKY-BLUE: #4C94E1;
$PFM-COLOR-DIM-BLUE: #2881D7;
$PFM-COLOR-DARK-BLUE: #1246B4;
$PFM-COLOR-LIGHT-BROWN: #B37159;
$PFM-COLOR-DIM-BROWN: #9D5C44;
$PFM-COLOR-DARK-BROWN: #5D3729;
$PFM-COLOR-LIGHT-EMERALD: #6FC3A7;
$PFM-COLOR-DIM-EMERALD: #169D6F;
$PFM-COLOR-DARK-EMERALD: #095D43;
$PFM-COLOR-LIGHT-PURPLE: #704CFF;
$PFM-COLOR-DIM-PURPLE: #4F2FD4;
$PFM-COLOR-DARK-PURPLE: #381F94;
$PFM-COLOR-LIGHT-SILVER: #D2D4D6;
$PFM-COLOR-SILVER: #B6B7B8;
$PFM-COLOR-DARK-SILVER: #7C8083;
$PFM-COLOR-DIM-SILVER: #9FA1A3;
$PFM-COLOR-ALGAE-GREEN: #20BD53;
$PFM-COLOR-DIM-GREEN: #169D3D;
$PFM-COLOR-DARK-GREEN: #0F7F30;
$PFM-COLOR-LIGHT-YELLOW-GREEN: #BEF090;
$PFM-COLOR-DIM-YELLOW-GREEN: #A8DF54;
$PFM-COLOR-DIM-YELLOW-GREEN: #5C9D38;
$PFM-COLOR-LIGHT-ROSE: #FF80CE;
$PFM-COLOR-DIM-ROSE: #FC46B9;
$PFM-COLOR-DARK-ROSE: #BE1F82;
$PFM-COLOR-DIM-ORANGE: #FC683E;
$PFM-COLOR-TOMATO: #DF3727;
$PFM-COLOR-LIGHT-PINK: #FF689A;
$PFM-COLOR-DIM-PINK: #FC226A;
$PFM-COLOR-DARK-PINK: #BD0A42;
$PFM-COLOR-LIGHT-VIOLET: #C14CFF;
$PFM-COLOR-DIM-VIOLET: #9C39B6;
$PFM-COLOR-DARK-VIOLET: #5C1595;
$PFM-COLOR-LIGHT-RED: #FF5266;
$PFM-COLOR-DIM-RED: #FC4338;
$PFM-COLOR-DARK-RED: #BD071B;
$PFM-COLOR-LIGHT-SKY-BLUE: #3BCEFF;
$PFM-COLOR-DIM-SKY-BLUE: #1FBBDB;
$PFM-COLOR-WATER-BLUE: #1A86D7;
$PFM-COLOR-LIGHT-YELLOW: #FCD38B;
$PFM-COLOR-DIM-YELLOW: #FDE25B;
$PFM-COLOR-DARK-YELLOW: #FD9441;
$PFM-COLOR-PALE-DIM-BLUE: #D1E1F2;
$PFM-COLOR-PALE-DIM-SKY-BLUE: #C8E9F1;
$PFM-COLOR-PALE-LIGHT-ORANGE: #F4E7D4;
$PFM-COLOR-PALE-DARK-ORANGE: #EFCFCD;
$PFM-COLOR-PALE-DARK-YELLOW: #F5E2D2;
$PFM-COLOR-PALE-LIGHT-RED: #F5D4D9;
$PFM-COLOR-PALE-DARK-GREEN: #C5DDCF;
$PFM-COLOR-FADED-PINK: #F5D9E4;
$PFM-COLOR-PALE-DARK-EMERALD: #C4D7D2;
$PFM-COLOR-PALE-DIM-SILVER: #E2E4E6;
$PFM-COLOR-PALE-DIM-EMERALD: #C6E3DB;
$PMF-COLOR-PALE-DIM-VIOLET: #E1CFE9;
$PFM-COLOR-PALE-DARK-PINK: #E8C6D2;
$PFM-COLOR-DODGER-BLUE: #519DFC;
$PFM-COLOR-BOTTOM-GREY: #9B9B9B;
$PFM-COLOR-OFF-YELLOW: #FFFDE0;
$PFM-COLOR-DARK-GOLD: #807F71;
$PFM-COLOR-PRIMARY-ORANGE: #FE9626;
$PFM-COLOR-PALE-GREY: #F8F9FA;
$PFM-COLOR-LIGHT-MUSTARD: #F6BE62;
$PFM-COLOR-LIGHT-INDIGO: #3D5AFE;
$PFM-COLOR-DARK-INDIGO: #283593;
$PFM-COLOR-LIGHT-TEAL: #00897B;
$PFM-COLOR-DARK-TEAL: #00695C;
$PFM-COLOR-ORANGE: #e2750f;
$PFM-COLOR-GRADIENT-BUTTON-PRIMARY-FROM: #f18826;
$PFM-COLOR-GRADIENT-BUTTON-PRIMARY-TO: #e2750f;
$PFM-COLOR-GRADIENT-BUTTON-PRIMARY: -webkit-gradient(linear, left top, left bottom, from($PFM-COLOR-GRADIENT-BUTTON-PRIMARY-FROM), to($PFM-COLOR-GRADIENT-BUTTON-PRIMARY-TO));